.logo {
  margin-bottom: 11px;
  transform: translateX(70px);
}

.buttons {
  width: auto;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  border-radius: 50px;
  transform: translateX(200px);
  background-color: #fafafa;
}

.btn {
  display: flex;
  align-items: center;
  width: auto;
  height: 50px;
  padding: 20px 24px; /* Fix the syntax error here */
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
  color: #000;
  font-style: normal;
  font-size: medium;
  margin-left: 21px;
}

.active {
  width: auto;
  height: auto;
  padding: 11px 24px; /* Fix the syntax error here */
  border-radius: 50px;
  background-color: rgba(37, 182, 121, 1);
  color: #fafafa;
}


@media only screen and (max-width: 1137px) {
  .logo {
    transform: translateX(30px); /* Adjust as needed for smaller screens */
  }

  .buttons {
    transform: translateX(100px); /* Adjust as needed for smaller screens */
  }

  .btn {
    padding: 15px 18px; /* Adjust padding for smaller screens */
    font-size: small; /* Adjust font size for smaller screens */
  }
}

@media only screen and (max-width: 1024px) {
  .logo {
    transform: translateX(30px); /* Adjust as needed for smaller screens */
  }

  .buttons {
    transform: translateX(100px); /* Adjust as needed for smaller screens */
  }

  .btn {
    padding: 15px 18px; /* Adjust padding for smaller screens */
    font-size: small; /* Adjust font size for smaller screens */
  }

  .active {
    padding: 8px 18px; /* Adjust padding for smaller screens */
  }
}


